.portfolio
  .center
    header
      h2
        a(name='portfolio')
        | Portfolio
      h3 sub
  article
    ul
      li
        figure
          img(src='http://lorempixel.com/400/400/sports')
          figcaption
            h3 Stampa Mídia
            h4 #design #desenvolvimento