.portfolio
  .center
    header
      h2
        a(name='portfolio')
        | Portfolio
      h3 sub
  article
    ul
      each item in portfolio
        li.gallery-item
          a=item.link
          figure
            img(src=item.image)
            figcaption
              h3=item.title
              h4=item.tags

