@import "kouto-swiss"

meyer-reset();

@import "config/*"
@import "mixins/*"
@import "bosons/_index"
//@import "quarks/*"
@import "atoms/*"


*, *:before, *:after
  box-sizing: border-box

html, body  
  height: 100%
  overflow-x: hidden

html
  text-rendering: optimizeLegibility
  font-smoothing: antialiased

body
  font: $font-size-base $font-bold $font-family
  background-color: $white
  color: $boson-font 