$white = #fff
$black = #000

$gray       = #383838
$gray       = #555
$light-gray = #696969 
$dark-gray  = #181818

$white-gray     = #b3b3b3
$light-gray     = #696969
$silver         = #555
$gray           = #383838
$dim-gray       = #242424
$dark-gray      = #181818

//Cores ser usada como 
$body-bg = $white

//Cor a ser usada nas fontes
$boson-color   = $dark-gray

//Cores usadas para serem usadas nos títulos
$boson-title  = $black

//Cores para serem usados no Menu
$boson-menu-item        = $white
$boson-menu-item-hover  = lightness( $boson-menu-item, 30% );
$organism-menu-bg       = $black

//Cor da borda padrão
$boson-button        = $white
$boson-button-border = $black