$boson-title
  position: relative
  font-size: 1.1em
  color: $boson-title
  text-transform: uppercase
  
$boson-title-before
  content: ''
  position: absolute
  bottom: -5px
  width: 40px
  height: 3px
  background-color: $boson-title
  
$boson-title-sub
  font-height: 1em
  font-style: italic